
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing of employees from {organisme.raisonsociale}</h1>

<f:groupedFor each="{contacts}" as="contactsSortedByFonction" groupBy="fonction" groupKey="fonction">
  <h2>{fonction.libelle}</h2>
  <ul>
  <f:for each="{contactsSortedByFonction}" as="contact">
    <li>
      <figure>
        <f:link.action action="show" arguments="{contact : contact}">
          <f:image src="{contact.photo.originalResource.publicUrl}" width="200"/>
          <figcaption>
              {contact.nom} {contact.prenom} - {contact.fonction.libelle}
          </figcaption>
        </f:link.action>
      </figure>
    </li>
  </f:for>
</ul>
</f:groupedFor>

</f:section>
