
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h1>Liste des organismes</h1>

<f:flashMessages />

<f:form action="list" name="query" object="{query}">
	<f:form.textfield property="keywords" />
  <f:form.submit value="Search" />
</f:form>
	<f:for each="{organismes}" as="organisme">
		<div style="display: table-cell;vertical-align:top;">
			<div style="margin:20px; border: thick grey solid; width:250px; height:350px;">
				<center>
					<div>
						<f:link.action action="show" arguments="{organisme : organisme}">
							<f:image src="{organisme.logo.originalResource.publicUrl}" width="200"/>
						</f:link.action>
					</div>
					<div>
						<h1 style="font-weight:bold;">
							<f:link.action action="show" arguments="{organisme : organisme}"> {organisme.raisonsociale}</f:link.action>
						</h1>
						<p>
							<f:link.action action="show" arguments="{organisme : organisme}"> {organisme.description}</f:link.action>
						</p>
					</div>
				</center>
			</div>
		</div>
	</f:for>
</div>
	
	<p>
		<f:link.action action="new">Ajouter un organisme</f:link.action>
	</p>

<f:link.action action="new">New Organisme</f:link.action>
</f:section>
