
<table class="col-sm-12" style="margin-bottom:30px;">
	<tr>
		<td>
			<f:image src="{organisme.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-weight:bold;">{organisme.raisonsociale}</h1>
		</td>
	</tr>
	<tr>
		<td>
			{organisme.description}
		</td>
	</tr>
	<tr>
		<td>
			<br/>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">SIRET:</p>
			&nbsp;
			{organisme.siret}
		</td>	
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Adresse:</p>
			<br/>
			{organisme.adresse}
			<p>{organisme.codepostal} &nbsp; {organisme.ville}</p>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Tel:</p>
			 &nbsp;
			{organisme.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Fax:</p>
			&nbsp;
			{organisme.fax}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Mail:</p>
			 &nbsp;
			{organisme.email}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Horaires:</p>
			 &nbsp;
			{organisme.horaires}
		</td>
	</tr>
</table>