
<table class="tx-annuaire-tars" >
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.raisonsociale" />
		</td>
		<td>
		{organisme.raisonsociale}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.adresse" />
		</td>
		<td>
		{organisme.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.codepostal" />
		</td>
		<td>
		{organisme.codepostal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.ville" />
		</td>
		<td>
		{organisme.ville}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.telephone" />
		</td>
		<td>
		{organisme.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.fax" />
		</td>
		<td>
		{organisme.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.email" />
		</td>
		<td>
		{organisme.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.description" />
		</td>
		<td>
		{organisme.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.siret" />
		</td>
		<td>
		{organisme.siret}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.logo" />
		</td>
		<td>
				<f:image src="{organisme.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairetars_domain_model_organisme.horaires" />
		</td>
		<td>
		{organisme.horaires}
		</td>
	</tr>
</table>