
<table class="tx-annuaire-tars" >
	<tr>
		<td>
			<f:image src="{contact.photo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="font-weight:bold;">{contact.nom} {contact.prenom}</h1>
		</td>
	</tr>
	<tr>
		<td>
			{contact.presentation}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Tel:</p>
			 &nbsp;
			{contact.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Mail:</p>
			&nbsp;
			{contact.fax}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Organisme:</p>
			&nbsp;
			<f:link.action controller="Organisme" pageUid="{settings.pageOrganisme}" action="show" arguments="{organisme : contact.organisme}" style="color:black;">
				{contact.organisme.raisonsociale}
			</f:link.action>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Service:</p>
			&nbsp;
			{contact.service.libelle}
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:1.1em; color:#ff8700;display:inline;text-decoration:underline;">Adresse:</p>
			<br/>
			{organisme.adresse}
			<p>{organisme.codepostal} &nbsp; {organisme.ville}</p>
		</td>
	</tr>
</table>
